# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django stuff:
*.log
*.pot
*.py[cod]

# Virtual Environment
myenv/
env/


# IDE Files
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Local Django settings
local_settings.py
